{% extends 'plantilla.html.twig' %}

{% block title %}Login{% endblock %}

{% block contenido %}
    <div id="contenedor">
        <form id="formulario_login" method="post" action="{{ path('login') }}">
            <div class="contenedor-centrado">
                <fieldset>
                    <legend><h2>Iniciar Sesion</h2></legend>
                    <div id="formulario_login_campos_nombre_div" class="formulario_login_campos_div">
                        <label class="formulario_login_label" for="formulario_login_campos_nombre">Usuario:</label>
                        <input class="formulario_login_input" id="formulario_login_campos_nombre" name="name" type="text" placeholder="Usuario"/>
                    </div>
                    <div id="formulario_login_campos_apellido_div" class="formulario_login_campos_div">
                        <label class="formulario_login_label" for="formulario_login_campos_apellido">Contraseña:</label>
                        <input class="formulario_login_input" id="formulario_login_campos_apellido" name="passwd" type="password" placeholder="******"/>
                    </div>
                    <div id="formulario_login_campos_boton_div" class="formulario_login_campos_div">
                        <input type="submit" class="formulario_login_input" value="Entrar"/>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
