{% extends 'plantilla.html.twig' %}

{% block title %}Login{% endblock %}

{% block contenido %}
    <div id="contenedor">
        <form id="formulario_login">
            <div id="formulario_login_campos">
                <fieldset>
                    <legend><h2>Iniciar Sesion</h2></legend>
                    <div id="formulario_login_campos_nombre_div" class="formulario_login_campos_div">
                        <label class="formulario_login_label" for="formulario_login_campos_nombre">Usuario:</label>
                        <input class="formulario_login_input" id="formulario_login_campos_nombre" name="" type="text" placeholder="Usuario"/>
                    </div>
                    <div id="formulario_login_campos_apellido_div" class="formulario_login_campos_div">
                        <label class="formulario_login_label" for="formulario_login_campos_apellido">Contraseña:</label>
                        <input class="formulario_login_input" id="formulario_login_campos_apellido" name="" type="text" placeholder="******"/>
                    </div>
                    <div id="formulario_login_campos_boton_div" class="formulario_login_campos_div">
                        <button type="button" class="formulario_login_input">Entrar</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
