{% extends 'plantilla.html.twig' %}

{% block title %}Registro{% endblock %}

{% block contenido %}
    <div id="contenedor">
        <div class="scrolling-wrapper">
            <div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div><div class="card">
                <div flex>hola</div>
                <div flex></div>
                <div flex style="bottom:0;">frferf€</div>
            </div>
        </div>
    </div>
{% endblock %}
