body{
    background-color: #cde4e6;
}
a{
    text-decoration:none;
}

.contenedor-centrado{
    margin:auto;
    width:30%;
    align:center;
    background-color: #cde4e6;
}
.formulario_login_label{
    float:left;
}
.formulario_login_input{
    float:right;
}
.formulario_login_campos_div{
    display:inline-block;
    width:100%;
}
#formulario_login_campos_boton_div{
    margin-top:10%;
}
#footer{
    margin-bottom:0%;
    position: fixed;
    left: 0;
    bottom: 0;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card {
    display: inline-block;
    width: 30%;
    height:50%;
    padding: 5px;
}
.texto-centrado{
    text-align: center;
    font-size: xx-large;
}
.imagen{
    width:60%;
    height: 80%;

}
.fieldset-producto{
    display: inherit;
    text-align: center;
}
